.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 9;
    position: fixed;
    background: #4A154B;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}
.header.dark{
    background: #1B1D21;
}
.header-left{
    margin-left: 10px;
}
.header-right{
    margin-right: 10px;
}
.header-middle{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.input-body{
    display: flex;
    align-items: center;
}
.input-body{
    margin-left: 20px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius:7px;
}
.input-body input{
    flex: 1;
    width: 500px;
    background: none;
    outline: none;
    border:none;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 17px;
    color: white;
}
.header-icon{
    height: 32px !important;
    width: 32px !important;
    cursor:pointer;
}
.help-icon{
    margin-right: 10px;
    cursor:pointer;
}
.change-icon{
    margin-left: 10px;
    cursor: pointer;
}
