.message{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
}
.message img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}
.message-info h4 span{
    margin-left: 10px;
    color: grey;
    font-weight: normal;
}
.message-info h4{
    font-size: 13px;
}
.message-info p{
    font-size: 14px;
}